# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Environment variables
.env
.env*.local

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS files
.DS_Store
Thumbs.db
